body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 0
}

.nav li {
    list-style-type: none;
    margin: 10px
}

.active{
    font-weight:bold
}

a {
    text-decoration: none;
    color: #d0021b;
    cursor: pointer;
}

a:hover {
    font-weight: bold
}

.container {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.competitions-container {
    display: flex;
}

.select-year {
    flex: 1;
}

.select-year ul {
    padding: 0
}


.select-year li {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.loading {
    flex: 8
}

.competitions-grid {
    flex: 8;
    display: flex;
    flex-flow: row wrap;
}

.competition-square {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.competition-square li {
    list-style-type: none;
    margin-bottom: 5px
}

.league-name {
    font-weight: bold
}

.league-table {
    display: none;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 25%;
    left: 25%;
    border: 1px solid black
}