/* 
    Font Rules:
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; 
*/

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: url('/public/images/cream_dust.png') repeat 0 0;
}

h1, h2 {
    text-shadow: 0.5px 0.5px 0.5px #ccc;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    box-shadow: 0 0 1em 1em #ccc
}

.nav {
    display: flex;
    justify-content: center;
    padding: 0
}

.nav li {
    list-style-type: none;
    margin: 10px
}

.active{
    font-weight:bold
}

a {
    text-decoration: none;
    color: #d0021b;
    cursor: pointer;
}

/* a:hover {
    font-weight: bold
} */

.container {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.home-container {
    text-align: center;
}

.home-container img {
    width: 100%;
}

.competitions-container {
    display: flex;
}

.select-year {
    flex: 1;
}

.select-year ul {
    padding: 0
}


.select-year li {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.loading {
    flex: 8;
    text-align: center;
    font-weight: bold

}

.competitions-grid {
    flex: 8;
    display: flex;
    flex-flow: row wrap;
}

.competition-square {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.competition-square li {
    list-style-type: none;
    margin-bottom: 5px
}

.caption {
    font-size: 0.8rem;
    font-weight: 400;
    transition: font-weight ease-in-out;
}

.caption:hover {
    font-weight: 800;
    transition: font-weight ease-in-out;
}

.league-name {
    font-weight: bold;
    text-align: center
}

.league-table, .team-info {
    margin: 0px auto;
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 510px
}

.league-table th:nth-child(1) {
    width: 5%;
}
  
.league-table th:nth-child(2) {
    width: 25%;
}
  
.league-table th:nth-child(3) {
    width: 10%;
}
  
.league-table th:nth-child(4) {
    width: 10%;
}

.league-table th:nth-child(5) {
    width: 10%;
}

.league-table th:nth-child(6) {
    width: 10%;
}

.league-table th:nth-child(7) {
    width: 10%;
}

thead {
    border-bottom: 2px solid grey;
    font-size: 1.1rem
}
  
th, td {
    padding: 10px;
    text-align: center;
}

tr {
    border-bottom: 1px solid grey
}

.team-name {
    font-weight: bold
}

.wins {
    background-color: rgba(99, 203, 108, 0.5)
}

.losses {
    background-color: rgba(255, 0, 0, 0.5)
}

.positive { 
    color: rgba(99, 203, 108, 1)
}

.negative {
    color: red
}